
	a.carousel-control.left, a.carousel-control.right {
		background-image: none;
		opacity: 1;
		text-align: center;
	}

	/* MEDIA QUERIES */
	/* styles for phones' displays */
	@media only screen and (max-width: 350px) {
		#complicated-content-carousel .flex-item {
			width: 300px;
		}
	}

	/* styles for medium size displays */
	@media only screen and (min-width: 992px) and (max-width: 1199px) {
		#complicated-content-carousel .flex-item {
			width: 300px;
		}
	}