/** @Copyright sfg1991@163.com */
/** reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** styles */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
#main-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#sky-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #09f;
}
#earth-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #300;
}
.smooth {
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.pit {
  background-color: #09f;
  position: absolute;
  top: -2px;
}
#pit-one {
  width: 20%;
  height: 20%;
  left: 40%;
}
.filling {
  background-color: #300;
  position: absolute;
  z-index: 3;
}
#nav-container {
  position: absolute;
  left: 5%;
  top: 70%;
  width: 90%;
}
#nav-container .nav-block {
  width: 30%;
  position: relative;
  margin-left: 1.6%;
  margin-right: 1.6%;
  float: left;
  text-align: center;
  color: #cacbcf;
}
#nav-container .nav-block:hover {
  font-size: 110%;
  color: #ff0;
}
#nav-container.transparent {
  opacity: 0;
}
#nav-container:after {
  content: '';
  display: block;
  clear: both;
}
.nav-en {
  font-weight: bold;
}
.nav-zh {
  margin-top: 5px;
}
.nav-block:after {
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 50%;
  width: 0;
  height: 0;
  border: 3px solid #333;
  border-radius: 50%;
}
.nav-block:last-child:after {
  display: none;
}
.nav-block:hover,
.nav-block:active,
.nav-block:focus {
  cursor: pointer;
}
.hover-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: #000;
  color: #cacbcf;
}
.hover-container.show {
  top: 0;
}
#about-container {
  text-align: center;
  z-index: 6;
}
#about-inner {
  width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
#about-info {
  display: table-cell;
  vertical-align: middle;
}
#about-info a {
  color: #cacbcf;
  text-decoration: none;
}
#about-info p {
  line-height: 2em;
}
.close-button {
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #f33;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  outline: none;
}
.close-button:active,
.close-button:focus,
.close-button:hover {
  background-color: #900;
  cursor: pointer;
}
#close-about, #close-intro {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
.intro-pics-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#intro-container {
  z-index: 6;
}
#intro-container .intro-scroll {
  width: 100%;
  height: 100%;
}
.horizontal #intro-container .intro-scroll {
  overflow-x: auto;
}
.vertical #intro-container .intro-scroll {
  overflow-y: auto;
}
.horizontal #intro-container img {
  max-height: 100%;
}
.vertical #intro-contaienr img {
  max-width: 100%;
}
.intro-pics-container {
  display: table;
}
.intro-pics-container .intro-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.vertical #intro-container {
  text-align: center;
}
.horizontal .intro-pics-container .intro-inner {
  white-space:nowrap;
}
.horizontal .intro-pics-container .intro-inner span {
  display: inline-block;
}
.intro-pics-container .intro-inner span {
  display: block;
}
#logo {
  position: absolute;
  width: 100%;
  top: 30%;
  text-align: center;
}
.hide {
  display: none;
}
#logo.transparent {
  opacity: 0;
}
#player {
  position: absolute;
  top: -45px;
  left: 20%;
  z-index: 4;
}
#award {
  position: absolute;
  top: -35px;
  right: 20%;
  z-index: 4;
}
#score-container {
  position: absolute;
  right: 20px;
  top: 20px;
}
#score-img {
  float: left;
}
#score {
  font-size: 30px;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
  float: right;
  margin-left: 10px;
}
#score.emphasized {
  font-size: 200%;
}
#result-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5;
}
.result-inner {
  display: table;
  width: 100%;
  height: 100%;
}
.result-inner-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.result-wrapper {
  position: relative;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 45px 30px 30px 30px;
  box-sizing: border-box;
  background-color: #fff;
  border: 3px solid #096;
}
.result-icon {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: -32px;
  left: 68px;
  background-color: #fff;
  border: 2px solid #300;
}
.result-icon img {
  width: 30px;
  height: 30px;
  margin: 15px;
}
#result-score {
  font-size: 40px;
  font-weight: bold;
  color: #30c;
}
#result-msg {
  font-size: 16px;
  margin-top: 10px;
  color: #c00;
}
.result-buttons {
  margin-top: 20px;
}
.result-button {
  width: 60px;
  border: none;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
.result-button:hover,
.result-button:active,
.result-button:focus {
  cursor: pointer;
}
#replay {
  background-color: #396;
}
#replay:focus,
#replay:active,
#replay:hover {
  background-color: #366;
}
#home {
  background-color: #36f;
}
#home:focus,
#home:active,
#home:hover {
  background-color: #309;
}
